.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    width: 30rem;
    padding: 2rem;
    margin: 1rem auto;
}

.form__title {
    text-align: center;
    font-size: 2rem;
}

.form div {
    margin-bottom: 1.5rem;
}

.form h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form div input {
    font-size: 1.3rem;
    width: 100%;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
}

.form div p {
    color: rgb(196, 4, 4);
    font-size: 1.3rem;
}

.form button {
    font-size: 1.3rem;
}

.form__switch {
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
