.market__header {
    padding: 1rem 0 2rem 0;
}

.market__header h2 {
    font-size: 2rem;
}

.market__header-info {
    display: flex;
    align-items: center;
}

.market__header-info div {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.market__header-info svg {
    margin-right: 0.25rem;
}

.market__food {
    background-color: #f6f6f6;
    padding: 2rem 0;
}

.market__food-wrapper {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.market__food-error {
    text-align: center;
    margin: 1rem auto;
}

.market__food-error p {
    margin-top: 1rem;
}

@media (max-width: 1400px) {
    .market__food-wrapper {
        justify-content: center;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .market__header {
        padding: 0 0 1rem 0;
    }
    .market__header h2 {
        font-size: 1.5rem;
    }
    .market__header-info div {
        font-size: 0.8rem;
    }
}
