.cart {
    padding: 1rem;
    margin-top: 1rem;
}

.cart__title {
    font-size: 2rem;
}

.cart__market span {
    font-weight: 600;
}

.cart__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 1rem auto;
}

.cart__total span {
    font-weight: 600;
    font-size: 1.2rem;
}

.cart__button {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.cart__empty {
    margin: 2rem auto;
    text-align: center;
}

.cart__empty p {
    margin-top: 1rem;
}
