.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 0 5rem;
    min-height: 4rem;
    z-index: 100;
}

.header a {
    color: #000;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: all 0.5s;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.header__wrapper-cart a {
    margin-top: 4px;
}

.header__wrapper-cart p {
    margin: 0 1rem;
    min-width: 5rem;
    text-align: right;
}

.header__wrapper-cart svg {
    cursor: pointer;
}

.header-search {
    width: 40%;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

@media (max-width: 1200px) {
    .header-search {
        width: 20rem;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 0 2rem;
    }
    .header-title {
        display: none;
    }
    .header__wrapper-cart p {
        min-width: 4rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }
    .header__wrapper-cart {
        margin: 0;
    }
    .header__wrapper-links {
        text-align: right;
    }
    .header__wrapper-links a {
        display: inline-block;
    }
    .header-search {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .header__wrapper-cart p {
        display: none;
    }
    .header__wrapper-links {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .header-search {
        width: 8rem;
        font-size: 1rem;
    }
}
