.food-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.food-filter_item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.food-filter_item:hover {
    background-color: #e3e4e6;
    border-radius: 2rem;
}

.food-filter_item_active {
    background-color: #e3e4e6;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .food-filter {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .food-filter::-webkit-scrollbar {
        width: 0;
    }
}
