@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h3,
h4,
p {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.root {
    padding: 1rem 15rem;
}

.back {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.home-title {
    font-size: 3rem;
}

.cards__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1400px) {
    .root {
        padding: 1rem 5rem;
    }
}

@media (max-width: 992px) {
    .root {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .cards__wrapper {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .home-title {
        font-size: 2rem;
    }
}
